[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pymongo = "*"
dotenv = "*"
pytest = "*"
pylint = "*"
black = "*"
motor = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"

[requires]
python_version = "3"